body{
    background-color: #414141;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#start{
    background-color: #4CAF50;
    margin: 70px;
    width: 10rem;
    height: 3rem;
    font-size: 2rem;
}

#stop{
    background-color: #f44336;
    width: 10rem;
    font-size: 2rem;
    height: 3rem;
}
